$mainColor: #5b9c1f;
$calendarColor: #f6f6f6;
$calendarText: #333;
$calendarStartDay: $mainColor;
$calendarEndDay: $mainColor;
$calendarSelectedRange: #82c544;
$mainOrange: #d59541;
$stripeColor: #f6f6f6;
$darkColor: #333333;