.user-details {

input {
    margin: 5px 0;
    width: 100%;
}

label {

    float: left;

    display:inline-block;
    vertical-align:middle;

    span {
        display:inline-block;
        vertical-align:middle;
    }
}
span {
    display: block;
    overflow: hidden;

}

.start-date-visible, end-date-visible {
    display: inline;
}
}