.product-item {

margin-top:0px;

&__picture {


@mixin atMedium {
    float: left;
    width:50%;
}

}

&__description {

 padding-top: 10px;

    @mixin atMedium {
        float: left;
        padding: 0 10px;
        width:50%;
    }


    h2 {
        padding:0;
        margin:0;
        font-size:1.5rem;
        font-weight: 200;
        color: $mainColor;
    }
}

}